html, body {
    height: 95%;
}

/* */
body {
    display: block;
    align-items: center;
    margin: 1% auto;
    width: 80%;
}
.title {
    font-size: 35px;
}
div {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
#description {
    display: block;
}
#userhistories {
    height: 15%;
    padding: 0;
}
.textarea-container {
    height: 60%;
    display: flex;
    justify-content: space-around;
}
.textarea-container div {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
#convert-button {
    width: 10%;
}
textarea {
    width: 80%;
    height: 80%;
}